/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alef&family=Andika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    color: #555555;
    font-family: 'Alef', sans-serif;
    width: 100%;
    height: auto;
    margin: 0px;
    background: #2c2c2c;
    overflow-x: hidden;
}

/*---------------srollbar-----------------*/

    /* width */
::-webkit-scrollbar {
    width: 3px;
}
    /* Track bg */
::-webkit-scrollbar-track {
    background: rgb(146, 146, 146);
}
    /* color track */
::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
} 

li{
    list-style: none;
    color: #000;
}
li:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
}
a{
    text-decoration: none;
    color: white;
}

i{
    color: #555555;
}

/*header*/

.header{
    position: fixed;
    height: 100px;
    width: 100%;
    top: -3px;
    background: #f8f8f8;
    padding-top: 2%;
    padding-left: 5%;
}

.logo{
    position: relative;
    height: 60px;

    font-family: 'Homemade Apple', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #000000;
}

/*nav header*/
.linkNavHeader{
    position: absolute;
    width: 85px;
    height: 25px;
    right: 11.5%;
    top: 40%;

    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}
.linkNavHeader:hover{
    color: rgb(255, 157, 0);
    text-decoration: none;
}
.linkNavHeader2{
    position: absolute;
    width: 85px;
    height: 25px;
    top: 40%;
    right: 5%;

    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}
.linkNavHeader2:hover{
    color: #ff9d00;
    text-decoration: none;
}
.linkNavHeader3{
    position: absolute;
    width: 85px;
    height: 25px;
    right: 0%;
    top: 40%;

    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #000000;
}
.linkNavHeader3:hover{
    color: rgb(255, 157, 0);
    text-decoration: none;
}

/* content portfolio */
.portfolioBlock{
    width: 100%;
    height: auto;
    background: #f8f8f8;
    position: relative;
    margin-top: -.3%;
    padding-left: 1.7%;
    padding-top: .5%;
    padding-right: 1%;
    cursor: pointer;
}

/* text in photo block */
.text{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 98.9%;
    height: 100%;
    position: relative;
    color: #ffffff;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    padding-top: 16%;
    padding-left: 20%;
    padding-right: 20%;

    opacity: 0;
}
.text__big{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 99.5%;
    height: 100%;
    position: relative;
    color: #ffffff;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    padding-top: 29%;
    padding-left: 20%;
    padding-right: 20%;

    opacity: 0;
}
.text__small{
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 97.5%;
    height: 100%;
    position: relative;
    color: #ffffff;
    font-family: 'Homemade Apple', cursive;
    text-align: center;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    
    opacity: 0;
}

/* photo blocks */

.photo1{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo1.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
}
.photo2{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo2.png);
    background-repeat: no-repeat;
    display: block;
    position: relative;
    margin-bottom: 0.5%;
}
.photo3{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo3.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.photo4{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo4.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    margin-bottom: 0.5%;
}
.photo5{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo5.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.photo6{
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo6.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    margin-bottom: 0.5%;
}
.photo7{
    height: 637px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo7.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.photo8{
    height: 315px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo8.png);
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    right: -.3%;
}
.photo9{
    height: 315px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photo9.png);
    background-repeat: no-repeat;
    display: flex;
    position: static;
    margin-top: -25.5%;
    left: 67%;
}
/* photo all hover */

.photo1:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo2:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo3:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo4:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo5:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo6:hover .text{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
/* big text */
.photo7:hover .text__big{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
/* small text */
.photo8:hover .text__small{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}
.photo9:hover .text__small{
    opacity: 1;
     transition: opacity .2s ease-out 0.2s;
}

/* --------------------------About me--------------------------- */

.AboutMeBlock{
    background: #fdfdfd;
    height: auto;
    padding-top: 65px;
    font-family: 'Lobster', cursive;
}
.titleAbout{
    font-size: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 65px;
}

/* photos in about */
.photoInAbout1{
    width: 25%;
    height: 300px;
    background-image: url(https://raw.githubusercontent.com/orionAnimals/portfolio-for-oreo/main/img/photoInAbout1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 3%;
    border-radius: 50%;
}
/* text */
.textInAbout{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;

    color: #5F5D5D;
    margin-top: 20px;
    padding: 2%;
    text-align: center;
}
.link0{
    color: #ff9d00;
}

/* more blocks */


/* ------------- contact ------------- */
.contactBlock{
    background: #fdfdfd;
    padding-top: 50px;
    height: auto;
    padding-bottom: 30px;
}
/* title */
.titleInContact{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    line-height: 45px;
}
.subTitle{
    font-family: Andika;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}
/* form */
.inputInContact{
    height: 30px;
    background: rgb(223, 223, 223);
    border: none;
    margin-bottom: 10px;
    padding-left: 5%;
    border-radius: 5px;
    outline: none;
}
/* area text */
.inputInContactLg{
    height: 100px;
    background: rgb(223, 223, 223);
    border: none;
    margin-bottom: 10px;
    padding-left: 5%;
    border-radius: 5px;
    padding-top: 0px;
    outline: none;
}
/* ---- footer ---- */
.footer{
    height: 140px;
    background: #322E2E;
    color: white;
    font-family: Andika;
    font-size: 14px;
    line-height: 29px;
    padding: 5%;
}
.link{
    color: #ff9d00;
}
.link:hover{
    color: yellowgreen;
}
/* sots */
.link2{
    color: #ff9d00;
    margin-right: 10px;
}
.link2:hover{
    color: rgb(10, 240, 60);
}
.ContactFooter{
    margin-left: 30%;
}


/* custom for bootstrap */
.h1{
    font-weight: 800;
}
.h5{
    font-family: serif;
}
.container{
    overflow: hidden;
}


/* -----------------------------------------Mediaq ueries-------------------------------------------- */
@media (max-width:1286px){
    .logo{
        font-size: 20px;
    }
    .linkNavHeader,
    .linkNavHeader2,
    .linkNavHeader3{
        font-size: 12px;
    }
}
@media (max-width:1120px){
    .logo{
        font-size: 20px;
    }
    .linkNavHeader{
        font-size: 12px;
        float: none;
    }
}
@media (max-width:1024px){
    .logo{
        font-size: 20px;
        margin-top: 1%;
    }

    /* adaptive for photo block */
    .text{
        width: 100%;

    }

    .photo9{
        margin-top: -32.8%;
    }
    /* about */
    .photoInAbout1{
        border-radius: 60%;
        height: 240px;
    }
    .textInAbout{
        margin-top: 0px;
        padding-top: 0;
    }
}
@media (max-width:1000px){
    .header{
        height: 100px;
    }
    .logo{
        font-size: 17px;
    }
    .linkNavHeader{
        font-size: 10px;
        top: 40%;
    }
    .linkNavHeader2{
        font-size: 10px;
        top: 40%;
    }
    .linkNavHeader3{
        font-size: 10px;
        top: 40%;
    }
}
@media (max-width:855px){
    .header{
        height: 100px;
    }
    .logo{
        font-size: 17px;
    }
    .linkNavHeader{
        font-size: 10px;
        right: 16%;
        top: 40%;
    }
    .linkNavHeader2{
        font-size: 10px;
        right: 7%;
        top: 40%;
    }
    .linkNavHeader3{
        font-size: 10px;
        right: 0%;
        top: 40%;
    }
    /* adaptive for modal */
}
@media (max-width:768px){
    .logo{
        font-size: 15px;
    }
    .linkNavHeader,
    .linkNavHeader2,
    .linkNavHeader3{
        font-size: 10px;
        color: #555555;
    }
    
    /* adaptive for photo block */
    .photo1{
        width: 100%;
        width: 100%;
        margin-bottom: .3%;
        background-image: url(/img/photo1Full.png);
        background-size: 100%;
    }
    .photo2{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo2Full.png);
        background-size: 100%;
    }
    .photo3{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo3Full.png);
        background-size: 100%;
    }
    .photo4{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo4Full.png);
        background-size: 100%;
    }
    .photo5{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo5Full.png);
        background-size: 100%;
    }
    .photo6{
        width: 100%;
        margin-bottom: -1.7%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo6Full.png);
        background-size: 100%;
    }
    .photo7{
        width: 100%;
        height: auto;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo7Full.png);
        background-size: 100%;
    }
    .photo8{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo8Full.png);
        background-size: 100%;
    }
    .photo9{
        width: 100%;
        margin-bottom: .3%;
        background-image: url(orionanimals.github.io/portfolio-for-oreo//img/photo9Full.png);
        background-size: 100%;
        margin-top: 0;
        left: 0;
    }
    /* blocks in photo */
    .text__big{
        padding-top: 7%;
        padding-bottom: 7%;
    }
    .text__small{
        padding-left: 30%;
        padding-right: 30%;
        padding-top: 7%;
        width: 100%;
    }
    /* about blocks */
    .AboutMeBlock{
        height: auto;
        width: 100%;
    }

    .photoInAbout1{
        background-repeat: no-repeat;
        margin-left: 37%;
        height: 200px;
        border-radius: 50%;
        width: 30%;
        margin-bottom: 3%;
    }
    .textInAbout{
        padding: 10%;
        padding-top: 0%;
        width: 100%;
    }
    /* contact */
    .contactBlock{
        padding: 10%;
        padding-top: 0%;
    }
    /* footer */
    .firstText{
        text-align: center;
    }
    .ContactFooter{
        margin-left: 35%;
    }
}
@media (max-width:640px){
    .header{height: 130px;}
    .logo{
        font-size: 30px;
        width: 100%;
        margin-left: 31.3%;
        top: 27%;
    }
    .linkNavHeader{
        font-size: 12px;
        top: 100px;
        right: 60%;
        color: #555555;
    }.linkNavHeader2{
        font-size: 12px;
        top: 100px;
        right: 38%;
        color: #555555;
    }
    .linkNavHeader3{
        font-size: 12px;
        top: 100px;
        right: 17%;
        color: #555555;
    }
      /* photo adative */
      .portfolioBlock{
        padding-left: 0%;
    }
    .photo1{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo1Full.png);
        background-size: 100%;
    }
    .photo2{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo2Full.png);
        background-size: 100%;
    }
    .photo3{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo3.png);
        background-size: 100%;
    }
    .photo4{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo4Full.png);
        background-size: 100%;
    }
    .photo5{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo5Full.png);
        background-size: 100%;
    }
    .photo6{
        width: 100%;
        height: 200px;
        margin-bottom: .5%;
        background-image: url(img/photo6Full.png);
        background-size: 100%;
    }
    .photo7{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo7Full.png);
        background-size: 100%;
    }
    .photo8{
        width: 100%;
        height: 220px;
        margin-bottom: .3%;
        background-image: url(img/photo8Full.png);
        background-size: 100%;
    }
    .photo9{
        width: 100%;
        height: 220px;
        margin-bottom: .3%;
        background-image: url(img/photo9Full.png);
        background-size: 100%;
        margin-top: 0;
        left: 0;
    }
    /* blocks in photo */
    .text__big{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .text__small{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        width: 100%;
        height: 99%;
    }
    .text{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .pText{
        height: 60%;
        overflow: hidden;
    }
}
@media (max-width:425px){
    .header{
        background: #fff; 
        height: 100px;
    }
    .logo{
        margin-left: 23.5%;
    }
    .linkNavHeader{
        top: 70px;
    }
    .linkNavHeader2{
        font-size: 12px;
        top: 70px;
        right: 30%;
        color: #555555;
    }
    .linkNavHeader3{
        font-size: 12px;
        top: 70px;
        right: 4%;
        color: #555555;
    }
    /* photo adative */
    .portfolioBlock{
        padding-left: 0%;
    }
    .photo1{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo1Full.png);
        background-size: 100%;
        padding-right: 10%;
    }
    .photo2{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo2Full.png);
        background-size: 100%;
        padding-right: 10%;
    }
    .photo3{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo3.png);
        background-size: 100%;
    }
    .photo4{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo4Full.png);
        background-size: 100%;
    }
    .photo5{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo5Full.png);
        background-size: 100%;
    }
    .photo6{
        width: 100%;
        height: 200px;
        margin-bottom: .5%;
        background-image: url(img/photo6Full.png);
        background-size: 100%;
    }
    .photo7{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(img/photo7Full.png);
        background-size: 100%;
    }
    .photo8{
        width: 100%;
        height: 220px;
        margin-bottom: .3%;
        background-image: url(img/photo8Full.png);
        background-size: 100%;
    }
    .photo9{
        width: 100%;
        height: 220px;
        margin-bottom: .3%;
        background-image: url(img/photo9Full.png);
        background-size: 100%;
        margin-top: 0;
        left: 0;
    }
    /* blocks in photo */
    .text__big{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .text__small{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        width: 100%;
        height: 99%;
    }
    .text{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
        width: 110%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .pText{
        height: 60%;
        overflow: scroll;
        overflow-x:hidden;  /*для горизонтального*/
    }
    
    /* about blocks */
    .photoInAbout1{
        margin-left: 38%;
        border-radius: 50%;
        height: 120px;
    }
    .textInAbout{
        padding-right: 2%;
    }
    .titleAbout{
        margin-bottom: 30px;
    }
    /* footer */
    .ContactFooter{
        margin-left: 25%;
    }
    .footer{
        height: 90px;
    }
}
@media(max-width:375px){
    /* header */
    .logo{
        left: -10%;
    }
    .header{
        height: 100px;
    }
    .linkNavHeader{
        top: 70px;
    }
    .linkNavHeader2{
        top: 70px;
    }
    .linkNavHeader3{
        top: 70px;
    }
    /* photo */
    .portfolioBlock{
        padding-left: 0%;
    }
    .photo1{
        width: 100%;
        height: 200px;
        margin-bottom: -1%;
        background-image: url(/img/photo1Full.png);
        background-size: 100%;
    }
    .photo2{
        width: 100%;
        height: 200px;
        margin-bottom: -1.3%;
        background-image: url(/img/photo2Full.png);
        background-size: 100%;
    }
    .photo3{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(/img/photo3.png);
        background-size: 100%;
    }
    .photo4{
        width: 100%;
        height: 200px;
        margin-bottom: .3%;
        background-image: url(/img/photo4Full.png);
        background-size: 100%;
    }
    .photo5{
        width: 100%;
        height: 200px;
        margin-bottom: -1%;
        background-image: url(/img/photo5Full.png);
        background-size: 100%;
    }
    .photo6{
        width: 100%;
        height: 187px;
        margin-bottom: -.8%;
        background-image: url(/img/photo6Full.png);
        background-size: 100%;
    }
    .photo7{
        width: 100%;
        height: 184px;
        margin-bottom: .3%;
        background-image: url(/img/photo7Full.png);
        background-size: 100%;
    }
    .photo8{
        width: 100%;
        height: 190px;
        margin-bottom: .3%;
        background-image: url(/img/photo8Full.png);
        background-size: 100%;
    }
    .photo9{
        width: 100%;
        height: 190px;
        margin-bottom: .3%;
        background-image: url(/img/photo9Full.png);
        background-size: 100%;
        margin-top: 0;
        left: 0;
    }
    /* block in photos */
    .text{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 98%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .text__big{
        padding-top: 7%;
        padding-bottom: 7%;
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .text__small{
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        width: 100%;
        height: 100%;
    }
    .pText{
        height: 50%;
        overflow: hidden;
    }
    /* about block */
    .photoInAbout1{
        height: 110px;
    }
}
@media (max-width:320px){
     /* about block */
     .photoInAbout1{
        height: 95px;
        margin-left: 38%;
    }
    /* contact */
    .subTitle{
        font-size: 12px;
    }
    /* footer */
    .ContactFooter{
        margin-left: 20%;
    }
}

